## Import necessary libraries

In [5]:
import pandas as pd

In [6]:
# Dataset 1: processed_dataset1
df1 = pd.read_csv(r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset1.csv')
# Dataset 2: processed_dataset2
df2 = pd.read_csv(r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset2.csv')
# Dataset 3: processed_dataset3
df3 = pd.read_csv(r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset3.csv')
# Dataset 4: processed_dataset4
df4 = pd.read_csv(r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset4.csv')
# Dataset 5: processed_dataset5
df5 = pd.read_csv(r'C:\Users\dilan\Desktop\TB research\TB_Research\Datasets\processed\processed_dataset5.csv')

## Identify and Keep Common Genes (Features) Across All Datasets

In [11]:
# Identify and Keep Common Genes (Features) Across All Datasets (Excluding the 'TB_Status' column)
common_genes = list(set(df1.columns).intersection(df2.columns).intersection(df3.columns).intersection(df4.columns).intersection(df5.columns) - {'TB_Status'})

# Convert the list to a DataFrame and save as CSV
common_genes_df = pd.DataFrame(common_genes, columns=["Gene"])
common_genes_df.to_csv(r"..\..\Saved_files\common_features.csv", index=False)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
# Keep Only Common Genes (Excluding 'TB_Status') and Standardize Features
scaler = StandardScaler()

def process_and_scale(df, common_genes, scaler):
    df_common = df[common_genes]
    df_scaled = pd.DataFrame(scaler.fit_transform(df_common), columns=df_common.columns)
    return pd.concat([df_scaled, df[['TB_Status']]], axis=1)

df1 = process_and_scale(df1, common_genes, scaler)
df2 = process_and_scale(df2, common_genes, scaler)
df3 = process_and_scale(df3, common_genes, scaler)
df4 = process_and_scale(df4, common_genes, scaler)
df5 = process_and_scale(df5, common_genes, scaler)

## Merge all three datasets

In [15]:
# Merge all three datasets
merged_df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)

In [16]:
merged_df.sample(5)

,ILMN_1781097,ILMN_2200562,ILMN_1702372,ILMN_2187071,ILMN_1693822,ILMN_1652711,ILMN_1789504,ILMN_2414786,ILMN_1779713,ILMN_1690610,...,ILMN_1791637,ILMN_2124064,ILMN_1794817,ILMN_1657111,ILMN_2341382,ILMN_1798971,ILMN_2412807,ILMN_1770035,ILMN_1664738,TB_Status
256,-0.846694,0.992679,-0.983422,-1.011166,0.048062,-0.356742,-0.594919,0.788066,-0.453728,-0.065424,...,-0.638718,0.014520,-0.107971,-0.199277,-0.390963,-0.396736,-0.330487,-0.308032,0.501556,Other Disease
414,-0.617245,-0.766955,-0.776345,-0.600089,0.371477,-1.691978,-0.129191,0.429422,-0.970298,0.011198,...,-2.339983,0.269044,0.194512,-0.607052,2.584929,0.487925,0.025450,-0.698093,0.858469,Other Disease
1185,0.710255,1.385896,0.113406,-0.461858,-0.357209,-0.274628,0.753589,0.782293,-0.238019,-0.978007,...,0.368100,-0.437253,0.650056,-0.074642,0.239333,-1.951561,-0.475302,-0.945502,0.650239,Other Disease
786,1.205593,0.649049,0.350849,-0.551300,2.296598,-0.052342,-0.720354,0.639958,0.757024,0.284601,...,0.138857,0.003869,0.805894,0.761736,-0.683889,0.986295,-0.531601,0.553799,-1.275684,Other Disease
1376,-0.238693,0.971610,-0.361873,0.501465,-1.881361,0.218442,0.874481,-0.810194,0.166620,-0.697632,...,1.012116,-0.395863,-0.776645,0.449641,-1.090968,0.354898,-0.937958,0.272932,-1.123762,Other Disease

## Check for missing values in 'merged_df' dataset

In [17]:
# Check for missing values and print only columns with missing values
missing_values = merged_df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

## Split 'merged_df' dataset in to 3 seratate datasets as 'TB_HC_OD' , 'PTB_EPTB' , 'ATB_LTB'

### Dataset 1: 'TB_HC_OD'

In [18]:
# Dataset 1: 'TB_HC_OD'
# Replace 'Active TB', 'Latent TB', 'Pulmonary TB', and 'Extra Pulmonary TB' with 'TB' in 'TB_Status'
TB_HC_OD = merged_df.copy()
TB_HC_OD['TB_Status'] = TB_HC_OD['TB_Status'].replace(
    ['Active TB', 'Latent TB', 'Pulmonary TB', 'Extra Pulmonary TB'], 'TB'
)

In [19]:
# Verifying the shape and preview of each dataset
print("TB_HC_OD Dataset shape:", TB_HC_OD.shape)
print("TB_HC_OD Dataset preview:\n")
TB_HC_OD.sample(5)

TB_HC_OD Dataset shape: (1570, 23190)
TB_HC_OD Dataset preview:

,ILMN_1781097,ILMN_2200562,ILMN_1702372,ILMN_2187071,ILMN_1693822,ILMN_1652711,ILMN_1789504,ILMN_2414786,ILMN_1779713,ILMN_1690610,...,ILMN_1791637,ILMN_2124064,ILMN_1794817,ILMN_1657111,ILMN_2341382,ILMN_1798971,ILMN_2412807,ILMN_1770035,ILMN_1664738,TB_Status
1381,-2.175320,0.490071,-0.093563,0.841017,0.158170,-0.758441,-0.252933,0.198675,0.438843,1.162748,...,-0.842884,-0.190678,0.578459,-0.126942,-0.089593,-0.153728,0.772259,-0.057271,-0.760024,Other Disease
1146,0.250855,-0.419438,-0.447271,-0.021972,-0.784164,1.851200,0.551392,0.213365,-0.640602,0.709202,...,0.099906,-0.212441,-1.236292,-2.321345,-1.679819,0.600305,0.513996,1.667250,-0.381532,Other Disease
1556,-1.643527,0.622306,-0.462921,-0.425226,-0.128260,0.320680,0.353640,-0.689797,0.201960,0.646708,...,0.311270,-0.841884,1.176863,-0.200945,0.337936,-0.362392,0.686297,-0.756057,-1.599601,TB
1523,2.258868,-0.091900,-0.093885,-0.249773,0.518279,0.430340,-1.622485,-0.322837,0.227531,-0.174735,...,0.244475,-0.108612,-1.550229,0.556006,1.224665,1.397952,-0.001698,-0.275675,-1.508637,TB
1029,0.304717,1.635231,1.002849,-0.024196,-2.482098,0.501358,0.679402,0.494812,-1.627080,1.302270,...,1.165564,1.428177,0.050642,0.776676,1.144540,-0.470762,0.850115,0.028510,-0.176224,TB

In [20]:
# Get the number of occurrences for each class in the 'TB_Status' column
class_counts = TB_HC_OD['TB_Status'].value_counts()

# Display the class counts
print(class_counts)

TB_Status
TB                 719
Other Disease      608
Healthy Control    243
Name: count, dtype: int64

In [21]:
# Save the DataFrame as a CSV file
output_csv_path = r'..\..\Datasets\processed\TB_HC_OD.csv'
TB_HC_OD.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\Datasets\processed\TB_HC_OD.csv

### Dataset 2: 'PTB_EPTB'

In [22]:
# Dataset 2: 'PTB_EPTB' - only rows where TB_Status is 'Pulmonary TB' or 'Extra Pulmonary TB'
PTB_EPTB = merged_df[merged_df['TB_Status'].isin(['Pulmonary TB', 'Extra Pulmonary TB'])]

In [23]:
# Verifying the shape and preview of each dataset
print("\nPTB_EPTB Dataset shape:", PTB_EPTB.shape)
print("PTB_EPTB Dataset preview:\n")
PTB_EPTB.sample(5)

PTB_EPTB Dataset shape: (394, 23190)
PTB_EPTB Dataset preview:

,ILMN_1781097,ILMN_2200562,ILMN_1702372,ILMN_2187071,ILMN_1693822,ILMN_1652711,ILMN_1789504,ILMN_2414786,ILMN_1779713,ILMN_1690610,...,ILMN_1791637,ILMN_2124064,ILMN_1794817,ILMN_1657111,ILMN_2341382,ILMN_1798971,ILMN_2412807,ILMN_1770035,ILMN_1664738,TB_Status
1091,1.579674,0.203430,-0.452095,-0.059381,1.487415,0.367421,-0.154132,-1.632395,-1.115545,-2.160676,...,0.256309,-0.483905,1.573720,0.543827,-0.832976,0.768351,-0.617948,0.691706,0.735575,Extra Pulmonary TB
628,-0.537831,0.449228,0.737684,2.127456,0.206686,0.700091,0.090169,0.435516,1.159610,-0.170234,...,-0.023754,-1.324688,0.232080,0.556548,1.019485,-0.567432,0.789294,-0.404109,-1.533578,Extra Pulmonary TB
619,0.539656,0.185312,-0.039255,1.524306,-0.037347,2.668824,0.769345,0.165496,0.280422,0.857881,...,-0.238525,0.162885,-0.013859,0.285545,1.054343,-0.713894,0.378267,-1.459543,0.459672,Extra Pulmonary TB
904,0.222854,-0.824724,0.856561,0.519462,-2.667613,-0.255403,1.455732,1.956979,1.184985,-0.218051,...,0.659390,-0.141480,1.331566,-0.046509,1.139513,0.048635,-0.514203,-0.183285,-0.946456,Pulmonary TB
914,0.853316,0.025605,-2.549052,-0.877995,1.653295,-0.590881,0.711443,0.060478,0.700509,0.513303,...,-1.036114,0.457157,-1.354892,0.901053,-0.247493,-2.224113,-0.037298,-0.413982,-0.778686,Pulmonary TB

In [24]:
# Get the number of occurrences for each class in the 'TB_Status' column
class_counts = PTB_EPTB['TB_Status'].value_counts()

# Display the class counts
print(class_counts)

TB_Status
Extra Pulmonary TB    211
Pulmonary TB          183
Name: count, dtype: int64

In [25]:
# Save the DataFrame as a CSV file
output_csv_path = r'..\..\Datasets\processed\PTB_EPTB.csv'
PTB_EPTB.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\Datasets\processed\PTB_EPTB.csv

### Dataset 3: 'ATB_LTB'

In [26]:
# Dataset 3: 'ATB_LTB' - only rows where TB_Status is 'Latent TB' or 'Active TB'
ATB_LTB = merged_df[merged_df['TB_Status'].isin(['Latent TB', 'Active TB'])]

In [27]:
# Verifying the shape and preview of each dataset
print("\nATB_LTB Dataset shape:", ATB_LTB.shape)
print("ATB_LTB Dataset preview:\n")
ATB_LTB.sample(5)

ATB_LTB Dataset shape: (308, 23190)
ATB_LTB Dataset preview:

,ILMN_1781097,ILMN_2200562,ILMN_1702372,ILMN_2187071,ILMN_1693822,ILMN_1652711,ILMN_1789504,ILMN_2414786,ILMN_1779713,ILMN_1690610,...,ILMN_1791637,ILMN_2124064,ILMN_1794817,ILMN_1657111,ILMN_2341382,ILMN_1798971,ILMN_2412807,ILMN_1770035,ILMN_1664738,TB_Status
1460,-0.394552,-0.557021,-1.294623,0.536503,0.864155,0.514016,0.046976,-0.004552,-1.073165,0.313805,...,-0.906229,-0.873408,-0.164436,0.463879,-0.745263,-0.641401,-0.172770,1.670500,-1.205005,Latent TB
1505,-1.528911,-1.987227,-0.659173,0.065127,-0.009185,-1.778858,-1.722610,1.055083,1.858310,1.998474,...,-1.588879,-1.368761,-0.918788,-0.117371,-1.181364,-1.387711,-0.199453,-0.233036,-0.790447,Latent TB
89,2.469976,2.572916,1.721735,0.998979,1.021671,-0.355543,0.482798,-0.102699,-0.009540,0.727451,...,1.496347,0.555242,-0.305503,0.345549,-0.602970,-0.005427,1.164518,2.191250,1.229426,Latent TB
1465,0.787343,-0.947551,0.134073,2.350521,-0.938292,2.227236,-1.629131,1.702162,0.539020,0.145368,...,2.477117,-0.167315,-1.345556,-0.206253,-1.644883,-0.893006,-0.126020,0.719372,-1.134624,Latent TB
1438,0.491015,-1.415274,-0.254437,-0.076828,-1.353939,1.140143,-0.178305,-0.542585,-1.007954,1.487266,...,-1.959393,-0.131891,-1.207582,-0.260006,2.172499,1.097082,0.946250,-1.237410,1.363485,Active TB

In [28]:
# Get the number of occurrences for each class in the 'TB_Status' column
class_counts = ATB_LTB['TB_Status'].value_counts()

# Display the class counts
print(class_counts)

TB_Status
Latent TB    180
Active TB    128
Name: count, dtype: int64

In [29]:
# Save the DataFrame as a CSV file
output_csv_path = r'..\..\Datasets\processed\ATB_LTB.csv'
ATB_LTB.to_csv(output_csv_path, index=False)
print("CSV file saved to:", output_csv_path)

CSV file saved to: ..\..\Datasets\processed\ATB_LTB.csv